<div class="SectionWrapper">
    <div class="TxtImgFlexBox">
        <div class="MainTextWrapper">
            <%= raw text %>
        </div>
        <div class="Illustration" style="background-image: url(<%= image %>);"></div>
    </div>
</div>
